/*  Elementos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vermelho: #E50914;
  --preto: #141414;
}

body {
  background: var(--preto);
  font-family: 'Times New Roman', Times, serif;
  color: #FFFFFF;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
}

header .logotipo {
  color: var(--vermelho);
  font-family: 'Arial Black';
  font-size: 40px;
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: #AAAAAA;
  margin-right: 10px;
}

header nav a:hover{
  color: #FFFFFF;
}


/*  Parte de filme principal */
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0,.50), rgba(0, 0, 0,.50)100%), url("/img/capa-ponto-cego.jpg");
  height: 400px;
  background-size: cover; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-bottom: 40px;
  margin-top: 10px;
}

.titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
  background-color: rgba(0, 0, 0,.50);
  border: none;
  color: #ffffff;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  transition: 2s ease all;
}

.botao:hover{
  background-color: #ffffff;
  color: #000000;
}

.botao i{
  margin-right: 8px;
}

main .container {
  margin-left: 30px; ;
}

.filme-principal .container {
  width: 50%;
}